/* for admin login*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/*for header and logo*/
.logo a{
float: left;
text-align: center;
padding: 20px;
font-size: 18px;
color:rgb(246, 96, 201);
font-weight: bold;

}
/* for section navigation*/
section nav {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-around;
 box-shadow: 0 0 10px #B084CC;
 background: #190933;
 position: fixed;
 left: 0;
 z-index: 100;
}

section nav .logo img{
    width: 50px;
    cursor: pointer;
    margin: 8px 0;
}

section nav ul{
    list-style: none;
}

section nav li{
    display:inline-block;
    padding: 0 10px;
}

section nav li a{
    text-decoration: none;
    color: #B084CC;
}
section nav li a:hover{
    color: #ACFCD9;
}

h1{
    text-align: center;
    }
    .logo-row {
        margin: 0 auto;
        position:absolute;
        top:20px;
        width: 100%;
        height: 130px;
        text-align: center;
    }
      
    .container{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        background-color: #effcac;
    }
    
    .form{
        position: absolute;
        max-width: 430px;
        width: 100%;
        padding: 30px;
        
        border-radius: 6px;
        margin-top: 30px;
    }
    
    .form .field {
        position:relative;
        height: 50px;
        width: 100%;
        margin-top: 20px;
        border-radius: 6px;
    }
    
    .field input,
    .field button {
        height: 100%;
        width: 100%;
        border: none;
        font-size: 16px;
        font-weight: 400;
        border-radius: 20px;
    }
    
    .field input {
        outline: none;
        padding: 0 15px;
        border: 1px solid #CACACA;
    }
    
    .field input:focus {
        border-bottom-width: 2px;
    }
    
    .bxs-hide{
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 18px;
        color:#8b8b8b;
        cursor: pointer;
        padding: 5px;
    }
    
    .field button{
        color:#fff;
        background-color: #B084CC;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    
    .field button:hover{
        background-color: #5201cb;
    }
    
    .form-link {
        text-align: center;
        margin-top: 10px;
    }
    
    .form-link span,
    .form-link a{
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
    }
    
    .form a{
        color: #0171d3;
        text-decoration: none;
    }
    
    .form-content a:hover {
        text-decoration: underline;
    }
    
    .line{
        position: relative;
        height: 1px;
        width: 100%;
        margin: 36px 0;
        background-color: #d4d4d4;
    }
    
    .line::before{
        content:'Or';
        position:absolute;
        top: 50%;
        left: 45%;
        color: #232836;
    }
    
    .media-options a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    img.facebook-img,
    img.google-img{
        position: absolute;
        top:50%;
        left: 15px;
        transform: translateY(-50%);
    }
    
    img.facebook-img,
    img.google-img{
        height: 20px;
        width: 20px;
        object-fit: cover;
    }
    
    a.facebook {
        border: 1px solid #CACACA;
        background-color: #2682fb;
    }
    a.google{
        border: 1px solid #CACACA;
        background-color: #ffffff;
    }
    
    a.facebook span{
        font-weight: 500;
        color: #ffffff;
    }
    a.google span{
        font-weight: 500;
        color: #060606;
    }

    .logo {
        width: 100px;
        height: 100px;
        text-align: center;
      }

      header {
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid #b5b5b5;
      }